@model List<GymHuset.Models.tbProduct> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    
    #productListing {
        width:1040px;
        float:left;
    }
    
    .productWrapper {
        float:left;
        width:200px;
        height:275px;
        background-color:white;
        margin:5px;
        color:black;
    }

        .productWrapper div {
            margin:5px;
        }

    .productDescription {
        border-top:ridge;
        border-bottom:ridge;
    }

    .productIMG {
        margin:0 auto;
        height:100px;
        width:80px;
    }


</style>

<h2>Erbjudanden</h2>
@Html.ActionLink("Kundkorg", "CartAdd", "Cart")
<div>

    <div id="productListing">
        @{
            foreach (GymHuset.Models.tbProduct p in Model)
            {
                <div class="productWrapper">
                    <div class="productIMGWrapper">
                        <img class="productIMG" src="@p.sPicture" />
                    </div>
                    <div class="productFacts">
                        <div class="productName">
                            @p.sName
                        </div>          
                        <div class="productDescription">
                            @p.sDescription
                        </div>
                    </div>                    
                    <div class="productBuy">
                        @{
                            if (p.iStockBalance > 10)
                            {
                                <div class="productStock">
                                    Antal i lager: 10+
                                </div>                                 
                            }
                            else if (p.iStockBalance < 10)
                            {
                                <div class="productStock">
                                    Antal i lager: @p.iStockBalance.ToString()
                                </div>                                   
                            }
                        }                        
                        <div class="productPrice">
                            Pris: @p.iPrice
                        </div>
                         <div class="addCart">
                            Lägg till i kundkorg
                     
                             @Html.ActionLink("Lägg till i varukorg", "CartAdd", "Cart", new {id = p.iID}, null)
                        </div>
                    </div> 
                </div>               
            } 
        }
    </div>
</div>
