@using System.Activities.Expressions
@using System.Data.Entity.ModelConfiguration.Conventions
@using Microsoft.Ajax.Utilities
@model IEnumerable<GymHuset.Models.tbProduct>
@{
    ViewBag.Title = "Kundkorg";
}

<h2>KundkorgAdd</h2>
@Html.ActionLink("Startsida", "Index", "Produkter")
 @{
        foreach (GymHuset.Models.tbProduct p in Model.DistinctBy(c => c.iID))
        {
           
            <div id="productListing">
                <div class="productWrapper">
                    <div class="productIMG">
                        <img src="@p.sPicture" />
                    </div>
                    <div class="productFacts">
                        <div class="productName">
                            @p.sName
                        </div>          
                        <div class="productDescription">
                            @p.sDescription
                        </div>
                    </div>                    
                    <div class="productBuy">
                        @{
                            if (p.iStockBalance > 10)
                            {
                                <div class="productStock">

                                </div>                                 
                            }
                            else if (p.iStockBalance < 10)
                            {
                                <div class="productStock">
                                    Antal i lager: @p.iStockBalance.ToString();
                                </div>                                   
                            }
                        }                        
                        <div class="productPrice">
                            Pris: @p.iPrice
                        </div> <div class="productQuantity">
                            Antal: @p.iCount
                        </div>
                      
                        <div class="addtobasket">
                     
                            @Html.ActionLink("Ta bort från kundkorg", "CartRemove", new {id = p.iID})
                       

                        </div>
                    </div> 
                </div>           
            </div> 
        } 
 }
 @Html.ActionLink("Betala", "CheckOut")
